{% extends "master.html" %}

{% block top %} 
	<div style="text-align: right"> 
	<span id="hello">{{Hello}}</span> <span id="username">{{username}}!</span><br>  
	<a href="{{signout_url}}" id="logout">{{Logout}}</a>
	</div>
{% endblock %}
{% block navigation %}
	<div id="menuGroupsActive">
		
	</div>
	<div id="menuHome">
		<a href="/">
			<span/>
		</a>
	</div>
{% endblock %}

{% block content %}

{% if isValidInvitation %}
	{% if not isValidUser %}
		{{ThisInvitationIsNotForYou}}
	{% endif %}
{% else %}
	{{TheInvitationIsInvalid}}
{% endif %}

{% endblock %}