{% extends "master.html" %}
{% block top %}
	<div style="text-align: right"> 
	<span id="hello">{{Hello}}</span> <span id="username">{{username}}!</span><br>  
	<a href="{{signout_url}}" id="logout">{{Logout}}</a>
	</div>
{% endblock %}
{% block navigation %}
	{% if hasUserMemberships %}
		<div id="menuGroups">
			<a href="/group?group={{ group.key }}">
				<span/>
			</a>
		</div>
	{% endif %}
	<div id="menuHomeActive">
		<a href="/">
			<span/>
		</a>
	</div>
{% endblock %}
{% block content %}
		{% if hasUserMemberships %}
		<div style="float: right">
			<form action="/group" method="get">
				{{GoToGroup}}:
				<select name="group" onchange="selectGroup(this,form);">
					<option value="">-- {{SelectGroup}} --</option>
				{% for membership in userMemberships %}
					<option value="{{ membership.group.key }}">{{ membership.groupNick }}</option>
				{% endfor %}
				</select>
			</form>
		</div>
		
		<h3>&nbsp;</h3>
		
		{% if hasMessage %}
			<div id="message">
				{{message}}
			</div>
			<br/>
		{% endif %}
		
		<div class="debts_summary">
			{% if debts.isZero %}
				{{YouOweNobody}}
			{% else %}
				{% if debts.hasMoreThanOneItem %}
					{% if debts.isOweToSelf %}
						<span class="benefical">{{debts.desc}}.</span>
					{% else %}
						<span class="detrimental">{{debts.desc}}.</span>
					{% endif %}
				{% endif %}
			{% endif %}
			<ul>
    		{% for debt in debts.items %}
				{% if debt.isOweToSelf %}
					<li style="color:#005E00">{{debt.desc}}</li>
				{% else %}					
					<li style="color:#5C0101">{{debt.desc}}</li>
				{% endif %}
			{% endfor %}
			</ul>
		</div>
		{% else %}
		<div>{{DontBelong}}</div><br>
		{% endif %}

		<div>
			<br /><br /><br /><br />
			<img src="/images/{{lang}}/NewGroup.gif" /> 
			<br />
			<form action="/createGroup" method="post" target="logic">
				<label style="font-size:12">{{Name}}:</label> 
				<br />
				<input type="text" value="" name="name"/>
				<input style="vertical-align:middle" type="image" src="/images/{{lang}}/Button_CreateGroup.gif" alt="CreateGroup" title="CreateGroup">
			</form>
		</div>
		
		<script type="text/javascript">
			function selectGroup(select, form) {
				indice = select.selectedIndex;
				value = select.options[indice].value;
				if ( value.length > 0 ) {
					form.submit();				
				} else {
					return false;
				}
			}
		</script>
{% endblock %}