{% extends "master.html" %}
{% block top %}
	<div style="text-align: right"> 
	<font size="5">Hello {{username}}!</font><br>  
	(<a href="{{signout_url}}">sign out</a>)
	</div>
{% endblock %}
{% block navigation %}
	{% if hasgroups %}
	<div id="menuGroups">
		<a href="/group?group={{ group.key }}">
			<span/>
		</a>
	</div>
	{% endif %}
	<div id="menuHomeActive">
		<a href="/">
			<span/>
		</a>
	</div>
{% endblock %}
{% block content %}		
		<br/>
		<br/>

		{% if isregistered %}
		<div style="float: right">
			<form action="/group" method="get">
				Go to group:
				<select name="group" onchange="selectGroup(this,form);">
					<option value="">-- select group --</option>
				{% for membership in memberships %}
					<option value="{{ membership.group.key }}">{{ membership.alias }}</option>
				{% endfor %}
				</select>
			</form>
		</div>
		
		<div class="debts_summary">
			{% if debts.isZero %}
				You owe nobody, and nobody owes you. Hurray!
			{% else %}
				{% if debts.hasMoreThanOneItem %}
					{% if debts.isOweToSelf %}
						They owe you a total of ${{debts.total}}.
					{% else %}
						You owe a total of ${{debts.total}}.
					{% endif %}
				{% endif %}
			{% endif %}
			<ul>
    		{% for debt in debts.items %}
				{% if debt.isOweToSelf %}
					<li>in <a href="/group?group={{debt.group.key}}">{{debt.group.name}}</a> they owe you ${{debt.amount}}</li>
				{% else %}					
					<li>you owe ${{debt.amount}} in <a href="/group?group={{debt.group.key}}">{{debt.alias}}</a></li>
				{% endif %}
			{% endfor %}
			</ul>
		</div>
		{% else %}
		<div>You don't belong to any group. You can create your own and invite your friends.</div><br>
		{% endif %}

		<div>
			<br /><br /><br /><br />
			<img src="/images/NewGroup.gif" /> 
			<br />
			<form action="/groupCreation" method="post">
				<label style="font-size:12">Name:</label> 
				<br />
				<input type="text" value="" name="name"/>
				<input style="vertical-align:middle" type="image" src="/images/Button_CreateGroup.gif" alt="CreateGroup" title="CreateGroup">
				
			</form>
		</div>
		
		<script type="text/javascript">
			function selectGroup(select, form) {
				indice = select.selectedIndex;
				value = select.options[indice].value;
				if ( value.length > 0 ) {
					form.submit();				
				} else {
					return false;
				}
			}
		</script>
{% endblock %}