{% extends "master.html" %}
{% block top %}
	<div style="text-align: right"> 
	<font size="5">Hello {{username}}!</font><br>  
	(<a href="{{signout_url}}">sign out</a>)
	</div>
{% endblock %}
{% block navigation %}
	{% if hasgroups %}
	<div id="menuGroups">
		<a href="/group?group={{ group.key }}">
			<span/>
		</a>
	</div>
	{% endif %}
	<div id="menuHomeActive">
		<a href="/">
			<span/>
		</a>
	</div>
{% endblock %}
{% block content %}		
		<br/>
		<br/>

		{% if isregistered %}
		<div class="debts_summary">
			{% if debts.isZero %}
				You owe nobody, and nobody owes you. Hurray!
			{% else %}
				{% if debts.isOweToSelf %}
					They owe you a total of ${{debts.total}}.
				{% else %}
					You owe a total of ${{debts.total}}.
				{% endif %}
			{% endif %}
			<ul>
    		{% for debt in debts.items %}
				{% if debt.isOweToSelf %}
					<li>in <a href="/group?group={{debt.group.key}}">{{debt.group.name}}</a> they owe you ${{debt.amount}}</li>
				{% else %}					
					<li>you owe ${{debt.amount}} in <a href="/group?group={{debt.group.key}}">{{debt.group.name}}</a></li>
				{% endif %}
			{% endfor %}
			</ul>
		</div>

		<div>
			<form action="/group" method="get">
				<select name="group">
					<option>-- select group --</option>
				{% for group in groups %}
					<option value="{{ group.key }}">{{ group.name }}</option>
				{% endfor %}
				</select>
				<input type="submit" value="Go to group page">
			</form>
		</div>
		{% else %}
		<div>You don't belong to any group. You can create your own and invite your friends.</div><br>
		{% endif %}

		<div>
			<form action="/groupCreation" method="post">
				Create group: <input type="text" value="" name="name"/>
				<input type="submit" value="Create">
			</form>
		</div>
{% endblock %}