{% extends "master.html" %}
{% block top %} 
	<div style="text-align: right"> 
	<font size="5">{{currentUser.nickname}}</font><br>  
	(<a href="{{signout_url}}">sign out</a>)
	</div>
{% endblock %}
{% block navigation %}
	<div id="menuGroupsActive">
		
	</div>
	<div id="menuHome">
		<a href="/">
			<span/>
		</a>
	</div>
{% endblock %}
{% block content %}
		{{ message }}
		{% if hasMemberships %}
			<div style="float: right">
				<form action="/group" method="get">
					Group:
					<select name="group" onchange="selectGroup(this,form);">
						<option value="">-- select another group --</option>
					{% for membership in memberships %}
					<option value="{{ membership.group.key }}">{{ membership.alias }}</option>
					{% endfor %}
					</select>
				</form>
			</div>
		{% endif %}
		<h3>Group {{ membership.alias }}</h3>
		
		<div style="margin-bottom: 40px;">
			<a href="javascript:showGroupTab('groupHome')" {% if not goToHistoryTab %} class="active" {% endif %} id="groupHomeButton"></a>
			<a href="javascript:showGroupTab('groupInvite')" id="groupInviteButton"></a>
			<a href="javascript:showGroupTab('groupHistory')" {% if goToHistoryTab %} class="active" {% endif %} id="groupHistoryButton"></a>
			<a href="javascript:showGroupTab('groupProperties')" id="groupPropertiesButton"></a>
		</div>
		<h3>&nbsp;</h3>

		<div id="groupHome" {% if goToHistoryTab %} style="display:none" {% endif%} >
		<h3>Your balance</h3>
	
		{% if balanceIsZero %}
			You owe nobody, and nobody owes you. Hurray!
		{% else %}
			{% if balancePositive %}
				{% include "groupDetailPositive.html" %}
			{% else %}
				{% include "groupDetailNegative.html" %}
			{% endif %}
		{% endif %}
		
		<h3>Actions</h3>
	
		{% include "enterTransaction.html" %}
		
		</div>
		
		<div id="groupInvite" style="display:none">
			{% include "enterInvite.html" %}
		</div>
		
		<div id="groupHistory" {% if not goToHistoryTab %} style="display:none" {% endif %} >
			<h3>History</h3>
			
			{% include "transactionHistory.html" %}
		</div>
		
		<div id="groupProperties" style="display:none">
			{% include "groupProperties.html" %}
		</div>
		
		<script type="text/javascript">
			function showGroupTab(id) {
				document.getElementById("groupHome").style.display = "none";
				document.getElementById("groupInvite").style.display = "none";
				document.getElementById("groupHistory").style.display = "none";
				document.getElementById("groupProperties").style.display = "none";
				document.getElementById("groupHomeButton").className = "";
				document.getElementById("groupInviteButton").className = "";
				document.getElementById("groupHistoryButton").className = "";
				document.getElementById("groupPropertiesButton").className = "";
				document.getElementById(id).style.display = "";
				document.getElementById(id + "Button").className = "active";
			}
		
			function selectGroup(select, form) {
				indice = select.selectedIndex;
				value = select.options[indice].value;
				if ( value.length > 0 ) {
					form.submit();				
				} else {
					return false;
				}
			}
		</script>
		
{% endblock %}
