{% if hasGroupMemberships %}

<table style="hspace">
	
<!--I Owe =========================================================== -->
<tr class="detrimental">
<form action="/action" method="post" target="logic">
	<input type="hidden" name="type" value="debt" />
	<input type="hidden" name="fromMember" value="{{userMembership.key}}" />	
<td style="padding: 0px 10px 4px 10px" align="center">
	{{IOwed}}
</td>
<td style="padding: 0px 10px 4px 10px" align="center">
	<select name="toMember">
		{% for member in groupMemberships %}
			<option value="{{member.key}}">{{member.userNick}}</option>
		{% endfor %}
	</select>
</td>
<td style="padding: 0px 2px 4px 2px"> $ </td>
<td style="padding: 0px 10px 4px 2px"><input type="text" value="" name="amount"/></td>
<td style="padding: 0px 10px 4px 10px">
	{{DueTo}}
</td>
<td style="padding: 0px 10px 4px 10px">
	<input type="text" value="" name="reason"/>
</td>
<td style="padding: 0px 10px 4px 10px">
	<input style="vertical-align:middle" type="image" src="/images/{{lang}}/Button_Save.gif" alt="{{Save}}" title="{{Save}}">
</td>	
</form>
</tr>
<!--I Payed =========================================================== -->
<tr class="benefical">
<form action="/action" method="post" target="logic">
	<input type="hidden" name="type" value="payment" />
	<input type="hidden" name="fromMember" value="{{userMembership.key}}" />	
<td style="padding: 4px 10px 4px 10px" align="center">{{IPaid}}</td>
<td style="padding: 4px 10px 4px 10px" align="center">
	<select name="toMember">
		{% for member in groupMemberships %}
			<option value="{{member.key}}">{{member.userNick}}</option>
		{% endfor %}
	</select>
</td>
<td style="padding: 4px 2px 4px 2px"> $ </td>
<td style="padding: 4px 10px 4px 2px"><input type="text" value="" name="amount"/> </td>
<td style="padding: 4px 10px 4px 10px" align="center">	
	{{DueTo}}
</td>
<td style="padding: 4px 10px 4px 10px">
	<input type="text" value="" name="reason"/>
</td>
<td style="padding: 4px 10px 4px 10px">
	<input style="vertical-align:middle" type="image" src="/images/{{lang}}/Button_Save.gif" alt="{{Save}}" title="{{Save}}">
</td>	
</form>
</tr>
<!--Someone owes me =========================================================== -->
<tr class="benefical">
<form action="/action" method="post" target="logic">
	<input type="hidden" name="type" value="debt" />
	<input type="hidden" name="toMember" value="{{userMembership.key}}" />	
<td style="padding: 4px 10px 4px 10px" align="center">
	<select name="fromMember">
		{% for member in groupMemberships %}
			<option value="{{member.key}}">{{member.userNick}}</option>
		{% endfor %}
	</select>
</td>
<td style="padding: 4px 10px 4px 10px" align="center">
	{{OwedMe}}
</td>
<td style="padding: 4px 2px 4px 2px"> $ </td>
<td style="padding: 4px 10px 4px 2px"><input type="text" value="" name="amount"/></td>
<td style="padding: 4px 10px 4px 10px" align="center">
	{{DueTo}}
</td>
<td style="padding: 4px 10px 4px 10px">
	<input type="text" value="" name="reason"/>
</td>
<td style="padding: 4px 10px 4px 10px">
	<input style="vertical-align:middle" type="image" src="/images/{{lang}}/Button_Save.gif" alt="{{Save}}" title="{{Save}}">
</td>	
</form>
</tr>
<!--Someone paid me =========================================================== -->
<tr class="detrimental">
<form action="/action" method="post" target="logic">
	<input type="hidden" name="type" value="payment" />
	<input type="hidden" name="toMember" value="{{userMembership.key}}" />

<td style="padding: 4px 10px 4px 10px" align="center">
	<select name="fromMember">
		{% for member in groupMemberships %}
			<option value="{{member.key}}">{{member.userNick}}</option>
		{% endfor %}
	</select>
</td>
<td style="padding: 4px 10px 4px 10px" align="center">
	{{PaidMe}}
</td>
<td style="padding: 4px 2px 4px 2px"> $ </td>
<td style="padding: 4px 10px 4px 2px"><input type="text" value="" name="amount"/></td>
<td style="padding: 4px 10px 4px 10px" align="center">
	{{DueTo}}
</td>
<td style="padding: 4px 10px 4px 10px">
	<input type="text" value="" name="reason"/>
</td>
<td style="padding: 4px 10px 4px 10px">
	<input style="vertical-align:middle" type="image" src="/images/{{lang}}/Button_Save.gif" alt="{{Save}}" title="{{Save}}">
</td>
</form>
</tr>

</table>

{% else %}

{{YouAreTheOnlyMemberInThisGroup}}. <a href="javascript:showGroupTab('groupInvite')">{{GoInviteSomeone}}</a>

{% endif %}