{% extends "master.html" %}
{% block top %} 
	<h2>{{group.name}}</h2><font size="6">{{username}}</font>  (<a href="{{signout_url}}">sign out</a>)
{% endblock %}
{% block navigation %}
	<a href="/">Home</a>
{% endblock %}
{% block content %}		
		{{ message }}
		<div>
			<form action="/group" method="get">
				<select name="group">
					<option>-- select group --</option>
				{% for group in groups %}
				<option value="{{ group.key }}">{{ group.name }}</option>
				{% endfor %}
				</select>
				<input type="submit" value="Go to group page">
			</form>
		</div>
	
		<h3>Your balance</h3>
	
		{% if balanceIsZero %}
			You owe nobody, and nobody owes you. Hurray!
		{% else %}
			{% if balancePositive %}
				{% include "groupDetailPositive.html" %}
			{% else %}
				{% include "groupDetailNegative.html" %}
			{% endif %}
		{% endif %}
		
		<h3>Actions</h3>
	
		{% include "enterTransaction.html" %}
		
		<h3>Invite</h3>
		
		{% include "enterInvite.html" %}
		
		<h3>History</h3>
		
		{% include "transactionHistory.html" %}
		
		<p>
		{% if balanceIsZero %}
			<form action="/groupUnsubscription" method="post">
				<input type="hidden" name="group" value="{{group.key}}" />
				<input type="submit" value="Unregister me!" />
			</form>
		{% else %}
			<small>To unsubscribe from this group you must first pay your debts.</small>
		{% endif %}
		</p>
{% endblock %}