<form action="/group" method="get">
<input type="hidden" name="group" value="{{userMembership.group.key}}"/>
<input type="hidden" name="goToHistoryTab" value="true"/>

{{ShowLast}} <input
	type="text" name="transactionCount" value="{{transactionCount}}">
{{Transactions}} <input style="vertical-align:middle" type="image" src="/images/{{lang}}/Button_Refresh.gif" alt="{{Refresh}}" title="{{Refresh}}">
	{% if validationError %}
		{{validationMessage}}
	{%endif%} 
</form>

<br/>

{% if hasTransactions %}

	<ul>
		{% for tr in transactions %}
			{% if tr.benefical %}
				<li class="benefical">{{tr.message}}
			{% else %}
				<li class="detrimental">{{tr.message}}
			{% endif %}
			
			{% if tr.isRejectable %}
				<a href="{{ tr.rejectUrl }}">{{ Reject }}</a>
			{% endif %}
				</li>
		{% endfor %}
	</ul>

{% else %}

	{{NoTransactionsToShow}}

{% endif %}