{% extends "master.html" %}
{% block top %} 
	<div style="text-align: right"> 
	<span id="hello">{{Hello}}</span> <span id="username">{{username}}!</span><br>  
	<a href="{{signout_url}}" id="logout">{{Logout}}</a>
	</div>
{% endblock %}
{% block navigation %}
	<div id="menuGroupsActive">
		
	</div>
	<div id="menuHome">
		<a href="/">
			<span/>
		</a>
	</div>
{% endblock %}
{% block content %}
		{% if hasUserMemberships %}
			<div style="float: right">
				<form action="/group" method="get">
					{{GoToGroup}}:
					<select name="group" onchange="selectGroup(this,form);">
						<option value="">-- {{SelectAnotherGroup}} --</option>
					{% for membership in userMemberships %}
					<option value="{{ membership.group.key }}">{{ membership.groupNick }}</option>
					{% endfor %}
					</select>
				</form>
			</div>
		{% endif %}
		<h3>{{Group}} {{ userMembership.groupNick }}</h3>
		
		{% if hasMessage %}
			<div id="message">{{ message }}</div>
		{% endif %}
		
		<div style="margin-bottom: 40px;">
			<a href="javascript:showGroupTab('groupHome')" {% if not goToHistoryTab %} class="active" {% endif %} id="groupHomeButton"></a>
			<a href="javascript:showGroupTab('groupInvite')" id="groupInviteButton"></a>
			<a href="javascript:showGroupTab('groupHistory')" {% if goToHistoryTab %} class="active" {% endif %} id="groupHistoryButton"></a>
			<a href="javascript:showGroupTab('groupProperties')" id="groupPropertiesButton"></a>
			<a href="javascript:showGroupTab('groupBalance')" id="groupBalanceButton"></a>
		</div>
		<h3>&nbsp;</h3>

		<div id="groupHome" {% if goToHistoryTab %} style="display:none" {% endif%} >
		<h3>{{YourBalance}}</h3>
	
		{% if balanceIsZero %}
			{{YouOweNobody}}
		{% else %}
			{% if balancePositive %}
				{% include "groupDetailPositive.html" %}
			{% else %}
				{% include "groupDetailNegative.html" %}
			{% endif %}
		{% endif %}
		
		<h3>{{OweOrPay}}</h3>
	
		<div>
		{% include "groupAction.html" %}
		</div>
		
		{% if hasGroupMemberships %}
		
			<h3>{{SomeonePaysTheOthersOweHim}}</h3>
			
			{% include "groupBulk.html" %}
			
			<h3>{{ADinnerOut}}</h3>
			
			{% include "groupCow.html" %}
			
		{% endif %}
		
		</div>
		
		<div id="groupInvite" style="display:none">
			{% include "groupInvite.html" %}
		</div>
		
		<div id="groupHistory" {% if not goToHistoryTab %} style="display:none" {% endif %} >
			<h3>{{History}}</h3>
			
			{% include "groupHistory.html" %}
		</div>
		
		<div id="groupProperties" style="display:none">
			{% include "groupProperties.html" %}
		</div>
		
		<div id="groupBalance" style="display:none">
			{% include "groupBalance.html" %}
		</div>
		
		<script type="text/javascript">
			function showGroupTab(id) {
				document.getElementById("groupHome").style.display = "none";
				document.getElementById("groupInvite").style.display = "none";
				document.getElementById("groupHistory").style.display = "none";
				document.getElementById("groupProperties").style.display = "none";
				document.getElementById("groupBalance").style.display = "none";
				document.getElementById("groupHomeButton").className = "";
				document.getElementById("groupInviteButton").className = "";
				document.getElementById("groupHistoryButton").className = "";
				document.getElementById("groupPropertiesButton").className = "";
				document.getElementById("groupBalanceButton").className = "";
				document.getElementById(id).style.display = "";
				document.getElementById(id + "Button").className = "active";
			}
		
			function selectGroup(select, form) {
				indice = select.selectedIndex;
				value = select.options[indice].value;
				if ( value.length > 0 ) {
					form.submit();				
				} else {
					return false;
				}
			}
		</script>
		
{% endblock %}
