{% extends "master.html" %}		 
{% block content %}
<p>Do you feel tired of sticky calculations each time you meet with friends for lunch or pay something with other people?
De-Bee gives you a new way to deal with <font size="+4">money change and debts</font>. You can have as many groups as you want; 
each group has a number of persons that share a common account.</p>
			
<strong>When can you use De-Bee?</strong><br>
<p>If you go lunch with friends one or two of you can pay and then the rest of you will owe them an amount of money, 
you just register those debts into De-Bee and that’s it, next time you can pay and the account would <font size="+4">get balanced</font>.</p>
<p>If at the office you decide to buy something all together someone of you can pay for it and then register the debt the rest of you will have with him; then you do not need to pay 
it at the moment it was bought. You can pay that at any further situation.</p>

<p>Any exchange money situation with friends or any familiar person can be resolved with De-Bee.
De-Bee informs you about your summarized situation for all groups and for each group in particular.</p>

You can:

<ul>
	<li>Create groups; invite your friends to them.</li>
    <li>Join other groups your friends had invited you to.</li>
</ul>

De-Bee is totally secure, no one can fool you assigning a debt to you without your consent.

There are four common actions you will use:

<ul>
	<li>Register a payment you have made to someone</li>
    <li>Register a debt you have with someone</li>
    <li>Register a payment someone has given to you</li>
    <li>Register a debt someone has with you</li>
</ul>
{% endblock %}