{% extends "master.html" %}		 
{% block content %}
<p>Are you tired of sticky calculations every time you meet with friends for lunch or pay something with other people?</p>

<p>De-Bee gives you a new way to deal with <font size="+4">money change</font> and debts. You can have as many groups as 
you want; each group has a number of people that share a common account.</p>

<strong>When can you use De-Bee?</strong>

<p>If you have lunch with friends, one or two of you can pay the expense and then the rest of you will owe them an 
amount of money. You just <font size="+4">register those debts</font> into De-Bee and that's it! Next time, if you 
<font size="+4">pay</font> the account will get balanced.</p> 

<p>Any exchange money situation with <font size="+4">friends</font> or with any acquaintance can be resolved with De-Bee. De-Bee informs 
you about your summarized situation for all groups and for each group in particular.</p> 

You can: 

<ul>
	<li>Create groups and invite your friends to join them.</li>
	<li>Join other groups your friends had invited you to.</li>
	<li>De-Bee is totally secure. No one can fool you assigning you a debt without your consent.</li> 
</ul>
{% endblock %}