<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<link href="stylesheets/styles.css" rel="stylesheet" type="text/css" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>De-Bee</title>
</head>
<body>
	<!--<div id="background"></div>-->
	<div id="container">
		<div id="header">
			<div id="logo"><a href="http://www.de-bee.com" style="text-decoration: none"><img src="images/De-Bee_logo.gif" alt="" border="0"/></a></div>
			<div id="welcome" style="text-align: right">
			{% block top %}
				<img src="images/Welcome.gif" alt="" />
				<a href="{{ loginurl }}"><img src="images/Button_Login.gif" alt="" border="0" /></a>
				<br>(You need a Google Account)
			{% endblock %}
			</div>
		</div>
		<div id="navigation">
			{% block navigation %}

	       	{% endblock %}
	    </div>
		<div id="content">
			<div id="mainContent">
			<div id="mainContent2">
			 {% block content %}

	       	{% endblock %}
			</div></div>
		</div>
		<div id="footer">
			<div id="copyright">2008 De-Bee. All rights reserved.</div>
			<div id="powered">
				Developed by <a href="http://www.manas.com.ar/">Manas Technology Solutions</a>.
				Original idea by <a href="http://weblogs.manas.com.ar/ary">Ary Borenszweig</a>
			</div>
		</div>
	</div>
	
</body>
</html>
