body
{
   	margin:0px;
   	padding:0px;
   
}

#container
{

}
#header
{
	margin:0 auto;
	height:200px;
	width:1000px;
	padding:0px;
	
}
#content
{
	background-color:#FFF41D;
}

#mainContent
{
	width:1000px;
	margin: 0 auto;
	font-family:Arial;
	color:#4F4C10;
	font-size:20px;
	padding-top:20px;
	padding-bottom:20px;
	text-align: justify;
}

#mainContent #mainContent2
{
	margin-left: 100px;
	margin-top:40px;
}
	
#logo
{
	float:left;
	margin-top:30px;
}
#welcome
{
	float:right;
	margin-top:125px;
	vertical-align:top;
}
#welcome img
{
	margin-right:30px;
}

#footer
{
	height:100px;
	width:1000px;
	margin: 0 auto;
	font-family:Verdana;
	font-size:12px;
	margin-top:15px;
}

#copyright
{
	float:left;
}

#powered
{
	float:right;
	font-size:11px;
}

#navigation
{
	margin:0 auto;
	height:48px;
	width:1000px;
	padding:0px;
}

#menuHome, #menuHomeActive, #menuGroups, #menuGroupsActive
{
	float:right;
	vertical-align:bottom;
}

#menuHome a{
	background:url(/images/s_home_OFF.gif) no-repeat;
	width:118px;
	height:38px;
	display:block;
	margin-top:10px;
	}
#menuHome a:hover{
	background:url(/images/s_home_OVER.gif) no-repeat;
	width:118px;
	height:38px;
	display:block;
	margin-top:10px;
}	

#menuHomeActive	
{
	background:url(/images/s_home_ON.gif) no-repeat;
	width:183px;
	height:48px;
	display:block;
}	

#menuGroups a
{
	background:url(/images/s_mygroups_OFF.gif) no-repeat;
	width:275px;		
	height:37px;
	display:block;
	margin-top:11px;
}
#menuGroups a:hover
{
	background:url(/images/s_mygroups_OVER.gif) no-repeat;
	width:275px;
	height:37px;
	display:block;
	margin-top:11px;
}
	
#menuGroupsActive 
{
	background:url(/images/s_mygroups_ON.gif) no-repeat;
	width:381px;
	height:48px;
	display:block;
}