body
{
   	margin:0px;
   	padding:0px;
	font-family: Arial;
	background: white;
}

hd3
{
	margin-top: 0px;
}

#container
{

}
#header
{
	margin:0 auto;
	height:160px;
	width:1000px;
	padding:0px;
}
#content
{
	background-color:#FFF41D;
}

#mainContent
{
	width:1000px;
	margin: 0 auto;
	font-size:18px;
	padding-top:10px;
	padding-bottom:10px;
	text-align: justify;
}

#mainContent #mainContent2
{
	margin-left: 10px;
}

#introduction
{
	color:#878116;
}

#mainContent .big {
	font-size: 22px;
	font-weight: bold;
	color: #504D10;
}


#mainContent .title {
	font-size: 28px;
	font-weight: bold;
	color: #504D10;
}
	
#logo
{
	float:left;
	margin-top:30px;
}
#lang
{
	float:right;
	margin-top:10px;
}
#welcome
{
	float:right;
	margin-top:125px;
	vertical-align:top;
}
#welcome img
{
	margin-right:30px;
}

#footer
{
	height:100px;
	width:1000px;
	margin: 0 auto;
	font-family:Verdana;
	font-size:12px;
	margin-top:15px;
}

#copyright
{
	float:left;
	font-size:11px;
}

#powered
{
	float:right;
	font-size:11px;
}

#navigation
{
	margin:0 auto;
	height:48px;
	width:1000px;
	padding:0px;
	clear:both;
}

#menuHome, #menuHomeActive, #menuGroups, #menuGroupsActive
{
	float:right;
	vertical-align:bottom;
}

#hello
{
	color: #79775D;
	font-size:17px;
	font-family: verdana;
}

#username
{
	color: black;
	font-size:22px;
	font-weight: bold;
	font-family: verdana;
}

#logout
{
	color: #79775D;
	font-size:11px;
	font-style: italic;
	font-weight: bold;
	font-family: verdana;
}

#message
{
	border: 2px dashed black;
	background: #FFF975;
	padding: 10px;
	margin-bottom:20px;
}

#social {
	margin:8px auto 30px auto;
	width:1000px;
	text-align:right;
	vertical-align:bottom;
	font-size:11px;
	}
	
	#social a{
		color:#000000;
		text-decoration:none;
		}
	#social a:hover{
		color:#003366;
		text-decoration:underline;
		}

.benefical 
{
	color: #005E00;
}

.detrimental 
{
	color: #5C0101;
}