body
{
   	margin:0px;
   	padding:0px;
	font-family: Arial;
}

hd3
{
	margin-top: 0px;
}

#container
{

}
#header
{
	margin:0 auto;
	height:200px;
	width:1000px;
	padding:0px;
	
}
#content
{
	background-color:#FFF41D;
}

#mainContent
{
	width:1000px;
	margin: 0 auto;
	color:#4F4C10;
	font-size:20px;
	padding-top:20px;
	padding-bottom:20px;
	text-align: justify;
}

#mainContent #mainContent2
{
	margin-left: 10px;
}
	
#logo
{
	float:left;
	margin-top:30px;
}
#welcome
{
	float:right;
	margin-top:125px;
	vertical-align:top;
}
#welcome img
{
	margin-right:30px;
}

#footer
{
	height:100px;
	width:1000px;
	margin: 0 auto;
	font-family:Verdana;
	font-size:12px;
	margin-top:15px;
}

#copyright
{
	float:left;
	font-size:11px;
}

#powered
{
	float:right;
	font-size:11px;
}

#navigation
{
	margin:0 auto;
	height:48px;
	width:1000px;
	padding:0px;
}

#menuHome, #menuHomeActive, #menuGroups, #menuGroupsActive
{
	float:right;
	vertical-align:bottom;
}



#menuHome a{
	background:url(/images/s_home_OFF.gif) no-repeat;
	width:118px;
	height:38px;
	display:block;
	margin-top:10px;
	}
#menuHome a:hover{
	background:url(/images/s_home_OVER.gif) no-repeat;
	width:118px;
	height:38px;
	display:block;
	margin-top:10px;
}	

#menuHomeActive	
{
	background:url(/images/s_home_ON.gif) no-repeat;
	width:183px;
	height:48px;
	display:block;
}	

#menuGroups a
{
	background:url(/images/s_mygroups_OFF.gif) no-repeat;
	width:167px;		
	height:37px;
	display:block;
	margin-top:11px;
}
#menuGroups a:hover
{
	background:url(/images/s_mygroups_OVER.gif) no-repeat;
	width:167px;
	height:37px;
	display:block;
	margin-top:11px;
}
	
#menuGroupsActive 
{
	background:url(/images/s_mygroups_ON.gif) no-repeat;
	width:280px;
	height:48px;
	display:block;
}

#groupHomeButton
{
	background: url(/images/s_Actions_OFF.gif) no-repeat;
	width: 150px;
	height: 49px;
	display: block;
	float: left;
	margin-left: -10px;
}

#groupHomeButton:hover
{
	background: url(/images/s_Actions_OVER.gif) no-repeat;
	outline: none;
}

#groupHomeButton.active
{
	background: url(/images/s_Actions_ON.gif) no-repeat;
	outline: none;
}

#groupInviteButton
{
	background: url(/images/s_InvitePeople_OFF.gif) no-repeat;
	width: 224px;
	height: 49px;
	display: block;
	float: left;
	margin-left: 10px;
}

#groupInviteButton:hover
{
	background: url(/images/s_InvitePeople_OVER.gif) no-repeat;
	outline: none;
}

#groupInviteButton.active
{
	background: url(/images/s_InvitePeople_ON.gif) no-repeat;
	outline: none;
}

#groupHistoryButton
{
	background: url(/images/s_History_OFF.gif) no-repeat;
	width: 134px;
	height: 49px;
	display: block;
	float: left;
	margin-left: 10px;
}

#groupHistoryButton:hover
{
	background: url(/images/s_History_OVER.gif) no-repeat;
	outline: none;
}

#groupHistoryButton.active
{
	background: url(/images/s_History_ON.gif) no-repeat;
	outline: none;
}

#groupPropertiesButton
{
	background: url(/images/s_properties_OFF.gif) no-repeat;
	width: 167px;
	height: 49px;
	display: block;
	float: left;
	margin-left: 10px;
}

#groupPropertiesButton:hover
{
	background: url(/images/s_properties_OVER.gif) no-repeat;
	outline: none;
}

#groupPropertiesButton.active
{
	background: url(/images/s_properties_ON.gif) no-repeat;
	outline: none;
}

#groupBalanceButton
{
	background: url(/images/s_balance_OFF.gif) no-repeat;
	width: 167px;
	height: 49px;
	display: block;
	float: left;
	margin-left: 10px;
}

#groupBalanceButton:hover
{
	background: url(/images/s_balance_OVER.gif) no-repeat;
	outline: none;
}

#groupBalanceButton.active
{
	background: url(/images/s_balance_ON.gif) no-repeat;
	outline: none;
}


/*
esto se usa para los botones de las acciones sobre el grupo.
#groupHomeImage 
{
	background:url(/images/s_Actions_OFF.gif) no-repeat;
	width:150px;		
	height:49px;
	display:table;
}

#groupHomeImage:hover
{
	background:url(/images/s_Actions_OVER.gif) no-repeat;
}	

#groupInviteImage
{
	background:url(/images/s_InvitePeople_OFF.gif) no-repeat;
	width:224px;		
	height:49px;
	display:table;
}

#groupInviteImage:hover
{
	background:url(/images/s_InvitePeople_OVER.gif) no-repeat;
}
	
#groupHistoryImage
{
	background:url(/images/s_History_OFF.gif) no-repeat;
	width:134px;		
	height:49px;
	display:table;
}

#groupHistoryImage:hover
{
	background:url(/images/s_History_OVER.gif) no-repeat;
}
*/
