#menuHome a{
	background:url(/images/es/s_home_OFF.gif) no-repeat;
	width:118px;
	height:38px;
	display:block;
	margin-top:10px;
	}
#menuHome a:hover{
	background:url(/images/es/s_home_OVER.gif) no-repeat;
	width:118px;
	height:38px;
	display:block;
	margin-top:10px;
}	

#menuHomeActive	
{
	background:url(/images/es/s_home_ON.gif) no-repeat;
	width:183px;
	height:48px;
	display:block;
}	

#menuGroups a
{
	background:url(/images/es/s_mygroups_OFF.gif) no-repeat;
	width:167px;		
	height:37px;
	display:block;
	margin-top:11px;
}
#menuGroups a:hover
{
	background:url(/images/es/s_mygroups_OVER.gif) no-repeat;
	width:167px;
	height:37px;
	display:block;
	margin-top:11px;
}
	
#menuGroupsActive 
{
	background:url(/images/es/s_mygroups_ON.gif) no-repeat;
	width:280px;
	height:48px;
	display:block;
}

#groupHomeButton
{
	background: url(/images/es/s_Actions_OFF.gif) no-repeat;
	width: 150px;
	height: 49px;
	display: block;
	float: left;
	margin-left: -10px;
}

#groupHomeButton:hover
{
	background: url(/images/es/s_Actions_OVER.gif) no-repeat;
	outline: none;
}

#groupHomeButton.active
{
	background: url(/images/es/s_Actions_ON.gif) no-repeat;
	outline: none;
}

#groupInviteButton
{
	background: url(/images/es/s_InvitePeople_OFF.gif) no-repeat;
	width: 224px;
	height: 49px;
	display: block;
	float: left;
	margin-left: 10px;
}

#groupInviteButton:hover
{
	background: url(/images/es/s_InvitePeople_OVER.gif) no-repeat;
	outline: none;
}

#groupInviteButton.active
{
	background: url(/images/es/s_InvitePeople_ON.gif) no-repeat;
	outline: none;
}

#groupHistoryButton
{
	background: url(/images/es/s_History_OFF.gif) no-repeat;
	width: 134px;
	height: 49px;
	display: block;
	float: left;
	margin-left: 10px;
}

#groupHistoryButton:hover
{
	background: url(/images/es/s_History_OVER.gif) no-repeat;
	outline: none;
}

#groupHistoryButton.active
{
	background: url(/images/es/s_History_ON.gif) no-repeat;
	outline: none;
}

#groupPropertiesButton
{
	background: url(/images/es/s_properties_OFF.gif) no-repeat;
	width: 167px;
	height: 49px;
	display: block;
	float: left;
	margin-left: 10px;
}

#groupPropertiesButton:hover
{
	background: url(/images/es/s_properties_OVER.gif) no-repeat;
	outline: none;
}

#groupPropertiesButton.active
{
	background: url(/images/es/s_properties_ON.gif) no-repeat;
	outline: none;
}

#groupBalanceButton
{
	background: url(/images/es/s_balance_OFF.gif) no-repeat;
	width: 87px;
	height: 49px;
	display: block;
	float: left;
	margin-left: 10px;
}

#groupBalanceButton:hover
{
	background: url(/images/es/s_balance_OVER.gif) no-repeat;
	outline: none;
}

#groupBalanceButton.active
{
	background: url(/images/es/s_balance_ON.gif) no-repeat;
	outline: none;
}

#groupBulkButton
{
	background: url(/images/es/s_Bulk_OFF.gif) no-repeat;
	width: 150px;
	height: 49px;
	display: block;
	float: left;
	margin-left: 10px;
}

#groupBulkButton:hover
{
	background: url(/images/es/s_Bulk_OVER.gif) no-repeat;
	outline: none;
}

#groupBulkButton.active
{
	background: url(/images/es/s_Bulk_ON.gif) no-repeat;
	outline: none;
}